<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gaurav.umeed" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".ModuleFragment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Company_home"
            android:label="@string/title_activity_company_home" >
        </activity>
        <activity
            android:name=".Tutor"
            android:label="@string/title_activity_tutor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".AspirantSignUp"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".NGOSignUp"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".OrganizationsignUp"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".SignUpChoosingActivity"
            android:label="@string/app_name" >

        </activity>
    </application>

</manifest>
